@{
    ViewBag.Title = "About ISEK";
}

<h2> ISEK is an artificial intelligence (AI) robot, built for use with the Iowa State Kids Engineering program.  </h2>

<a href="http://www.isek.iastate.edu/" > <img src="../../Content/images/isekbanner.jpg"; height="200px"; width="1200px" alt="BANNER FROM ISEK PAGE" /> 
</a>
<p>
     <h3> How does ISEK work? </h3>
     
     <br />
     
     ISEK is a computer program.  This computer program takes input from the user, compares the input to a list of words, and finds the best
     match possible for the user input.  The computer program then outputs the most accurate response back to the user. 
</p>

<br />

<p>

<h3> Who built ISEK? </h3>
<br />

    Many people have contributed to different versions of ISEK.  The ISEK you see today was made by Iowa State University students for a project
    in a class.  These students were software and computer engineers.

    <br /> 
    <br />

    This version of ISEK was created by : Andrew Montag, Alison Spiess, Charles Patterson, and Nick Shultze.

    <br /> <br /> 

 
    

</p>

<p> 
<h3> How does ISEK the robot talk? </h3>

    ISEK talks using an AI (Artificial Intellegence) system.  This system takes the user's input and looks at each word the user inputs.  It tries
    to combine the words to come up with a logical sentence, and then based upon that sentence responds to the user.  The API used is called AIML or artificial intellgence markup language.

    </br> <br /> The framework for this AI system can be found at <a href="http://blog.program-o.com"> Program-O AI Information </a>
    
    </br> </br> More information regarding AIML, the Artificial Intellegence Markup Language, can be found at <a href="http://www.alicebot.org/aiml.html"> AIML </a>

</p>
<h3> Please refer here for access to the <a href="http://www.isek.iastate.edu/"> Iowa State Engineering Kids Website </a> </h3>



<br /> <br /> <br />
 <h1> For more information or questions regrading the site please email us at : <br /> <br />  <h2> charlesp@iastate.edu or ajmontag@iastate.edu </h2> </h1> 